.App {
  text-align: left;
  margin: 50;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color:inherit;
  text-decoration: none;
 }

a:hover {
   color: #61dafb;
 }

p {
  padding: 100;
  margin: 100;
  width: 80%;
  display: inline-table;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.rating-score {
    color: black;
    font-weight: bold;
}

.side {
  width: 20%;
  float: left;
}

.container {
  width: 60%;
  float: left;
}

.inner-container {
  width: 80%;
  float: center;
}

.article {
  text-align: center;
}

.hexagon {
  float: right;
  text-align: center;
  position: relative;
  width: 60px;
  height: 34.642px;
  background-color: #64C7CC;
  margin: 30px auto;
  right: 100px;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
.hexagon:before {
  bottom: 100%;
  left: 0;
  right: 0;
  border-bottom: 17.32px solid #64C7CC;
}
.hexagon:after {
  top: 100%;
  left: 0;
  right: 0;
  width: 0;
  border-top: 17.32px solid #64C7CC;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
