{
  "presets": [
    "@babel/preset-env", "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "transform-react-jsx-img-import",
    ["transform-imports", {
     "reactstrap": {
       "transform": "reactstrap/lib/${member}",
       "preventFullImport": true
     }
   }]
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "mode": "wrap",
          "ignoreFilenames": ["node_modules"]
        }]
      ]
    }
  }
}
