.app-logo:hover {
  animation: App-logo-spin infinite 1.5s ease-in-out;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + .5vw) !important;
  color: white;
}

navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.body {
  min-width: 500px;
}

.table-condensed th {
  font-size: calc(7px + .5vw);
}

.table-condensed td {
  font-size: calc(5px + .5vw);
}

a.main-link {
  color:inherit;
  text-decoration: none;
  color: #61dafb;
 }

a.main-link:hover {
  color: #61dafb;
 }

p {
  padding: 100;
  margin: 100;
  width: 80%;
  display: inline-table;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vw);
  color: #e8edef;
}

.App-link {
  color: #61dafb;
}

.left {
  padding-left: 0;
}
.right {
  padding-right: 0;
}
.inner-container {
  width: 80%;
  float: center;
}

.article-box {
  margin: 40px 0 0 0;
}

.article {
  text-align: center;
}

.rating-text {
  display: table-cell;
  vertical-align: middle;
}

.rating-max {
  color: #212529;
  font-size: 1rem;
}

.rating-score {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

.rating-box {
  margin-left: -20px;
  border-radius: 20px 40px;
  padding: 10px;
  float: left;
  text-align: center;
  position: relative;
  background-color: #64C7CC;
}
